<!DOCTYPE html>
<html>
<head>
  <title><%= title %> | <%= siteName %></title>
</head>
<body>
  <header>
    <h1><%= siteName %></h1>
    <nav>
      <h3>External</h3>
      <ul>
        <% externalMenu.forEach(item => { %>
          <li>
            <a href="/<%= item.slug %>">
              <% if (item.page === title) { %>
                <strong><%= item.page %></strong>
              <% } else { %>
                <%= item.page %>
              <% } %>
            </a>
          </li>
        <% }); %>
      </ul>
      <h3>Internal</h3>
      <ul>
        <% internalMenu.forEach(item => { %>
          <li>
            <a href="/<%= item.slug %>">
              <% if (item.page === title) { %>
                <strong><%= item.page %></strong>
              <% } else { %>
                <%= item.page %>
              <% } %>
            </a>
          </li>
        <% }); %>
      </ul>
    </nav>
  </header>
  <hr>
  <% if (Object.entries(flashes).length) { %>
    <section id="flashes">
      <% Object.entries(flashes).forEach(entry => { %>
        <p>
          <%= entry[0] %>: <%= entry[1] %>
        </p>
      <% }) %>
      <hr>
    </section>
  <% } %>
  <h1><%= title %></h1>
